$golden: 1.618;
$g0: 1rem;

$gn1: $g0 / $golden;
$gn2: $gn1 / $golden;
$gn3: $gn2 / $golden;
$gn4: $gn3 / $golden;
$gn5: $gn4 / $golden;

$g1: $g0 * $golden;
$g2: $g1 * $golden;
$g3: $g2 * $golden;
$g4: $g3 * $golden;
$g5: $g4 * $golden;
$g6: $g5 * $golden;
$g7: $g6 * $golden;
$g8: $g7 * $golden;
$g9: $g8 * $golden;
$g10: $g9 * $golden;

@import "normalize";
@import "flex";
@import "design";
@import "device";

$textcolor: #5f6267;
$linkcolor: #3d6cb6;
$hilite: #5f8cd3;

$backgrey: #ededed;

html {
  line-height: $g1;
  background-color: $backgrey;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  color: textcolor;
}

body {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

input[type="text"], input[type="password"] {
  background: #fff;
  border: 0 none;
  width:100px;
  top: 0px;
  margin-top: 3px;
  padding: 8px 15px 4px 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  &:focus{
    outline: none;
  }
}
input[type= "button"]{
  margin-top: 3px;
}

a {
   &:hover { color: $hilite; text-decoration: underline;}
   &:active { color: $hilite;}
   color: $linkcolor;
   text-decoration: underline;
}

h1, h2, h3{padding-top: 15px; padding-bottom: 5px;
  @include textshadow();}
h4{
  @include textshadow(); 
  text-align: left;
  font-size: 1.4em;
}
.row{
  & ul, p{padding-top: 15px;}
  & ul{padding-left: 25px;} 
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  line-height: 35px;
  width: 100%;
  height: 40px;
  display: inline;
  text-align: left;
  overflow: hidden;
  @include barbackground();
  @include shadow();
  z-index: 1;
  & a{
    margin: 0 0 0 15px;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  height: 35px;
  line-height: 5px;
  width: 100%;
  text-align: right;
  display: inline-table;
  padding-right: 15px;
  @include barbackground();
  @include shadow();
}

q{
  font: italic 2.4em Palatino, Times, Georgia;
  
}
figure{
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  margin: 0 10px 30px 10px;
  @include shadow();
  & li {
  list-style: none;
  margin:0;
  padding:0;
}
  & img{ opacity: .4;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
  & img:hover{ 
    opacity: 1;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
  &:hover figcaption{ background-color: rgb(208, 208, 208);   
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }
  &:hover .readmore{ 
    visibility: visible;  
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
  }
}

figcaption {
  & a{text-decoration: none;}
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: rgba(229, 229, 229, 1);
}

.imagetiles{
  @include columns;
  padding-left: 10px;
  padding-right: 10px;
}

.nav {
  margin-top: 3px;
  & a{
    color: #7c7c7c;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #ffffff;
    &:hover { color: #2c2c2c;}
    &:active { color: #2c2c2c;}
  }
}

.tag {
  font-size: 10pt;
  font-weight: bold;
  text-shadow: #484848 1px 1px;
  background-color: #4488aa;
  @include rounded(6px);
  padding: 0 5px 0 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display:inline-block;
  &:hover {background-color: #8ebed4; text-decoration: underline;
  }
  & a{
    color: #fff;
    &:hover { color: #fff;}
    &:active { color: #fff;}
  }
}
.showadmin{
  text-align: right;
}
.readmore{
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.83);
  margin-bottom: 10px;
  position: absolute;
  visibility: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  webkit-box-sizing: border-box;
  @include rounded;
  font: italic bold 1.6em Palatino, Times, Georgia;
  margin-right: 10px;
  width: auto;
  right: 0;
  padding: 10px 30px;
  border: 3px outset #424242;
  top: 234px;
  & a{
    color: rgba(238, 238, 238, 0.90);
    text-decoration: none;
    }
  & a:hover{
    color: rgb(218, 240, 254);
    text-decoration: underline;
  }
}
#search {
  float: right;
  position: relative;
  margin-top: -1px;
  text-align: center;
  display: inline-table;
  margin-right: 10px;
  & input[type="text"] {
    background: url("./images/search-dark.png") no-repeat 10px 6px #fcfcfc;
    border: 0 none;
    color: #8a8a8a;
    width: 95px;
    top: 0px;
    margin-top: 5px;
    padding: 8px 15px 4px 35px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;}
  & input[type="text"]:focus{
    background: url("./images/search-light.png") no-repeat 10px 6px #444;
    outline: none;
    color: #fff;
    width: 120px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);}
}
#bodyFooterGradient{
  padding-bottom: 40px;
  -webkit-box-shadow: inset 0px -30px 60px 0px rgba(10, 5, 20, .33);
  box-shadow: inset 0px -30px 60px 0px rgba(10, 5, 20, .33);
}
